@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Variables */
:root {
    --main-box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.cardContainer {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 14%));
    align-items: stretch;
    justify-items: stretch;
}

.gameInfoContainer {
    display: flex; 
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userScores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.userScores h2 {
    margin: 0;
}

/* @media (max-width: 1911px) {
    .cardContainer {
        grid-template-columns: repeat(auto-fill, minmax(300px, 23%));
    }
} */