body {
    margin: 0;
}

.cardContainer {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(300px, 14.6666%));
    align-items: stretch;
    justify-items: stretch;
}

@media (max-width: 1911px) {
    .cardContainer {
        grid-template-columns: repeat(auto-fill, minmax(300px, 23%));
    }
}