.card {
    text-align: center;
    box-shadow: var(--main-box-shadow);
    border-radius: 1rem;
    cursor: pointer;
}

.emoji {
    font-size: 5rem;
    display: inline-block;
    margin: 4rem;
    cursor: pointer;
}

.no-highlight{
    user-select: none; 
    -moz-user-select: none;
    -webkit-text-select: none; 
    -webkit-user-select: none; 
 }
