.card {
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    border-radius: 1rem;
    margin: 1rem;
}


.emoji {
    font-size: 5rem;
    display: inline-block;
    margin: 4rem;
}

